<div class="dashboard-page">


  <!-- Loader -->

  <div
    class="loading-container"
    *ngIf="loading">

    <div class="loader"></div>

    <p>Chargement du tableau de bord...</p>

  </div>

  <!-- Dashboard -->

  <div
    *ngIf="!loading && dashboard"
    class="dashboard-content">

    <!-- Header -->

    <div class="dashboard-header">

      <div>

        <h1>
          Tableau de bord
        </h1>

        <p>
          Bienvenue sur la plateforme de gestion UNCHK
        </p>

      </div>

      <div 
        class="header-actions"
        *ngIf="
        dashboard.dashboardType === 'ADMIN' ||
        dashboard.dashboardType === 'DIRECTION' ||
        dashboard.dashboardType === 'RESPONSABLE_FORMATION' ||
        dashboard.dashboardType === 'INSERTION'
      ">

        <button
          mat-stroked-button
          color="primary"
          (click)="downloadPdf()">

          <mat-icon>
            picture_as_pdf
          </mat-icon>

          Export PDF

        </button>

        <button
          mat-stroked-button
          color="accent"
          (click)="downloadExcel()">

          <mat-icon>
            table_view
          </mat-icon>

          Export Excel

        </button>

        <div
          class="role-badge">

          {{ dashboard.dashboardType }}

        </div>

      </div>

    </div>

    <!-- ADMIN -->

    <app-admin-dashboard
      *ngIf="
        dashboard.dashboardType === 'ADMIN'
      "
      [dashboard]="dashboard">
    </app-admin-dashboard>

    <!-- DIRECTION -->

    <app-direction-dashboard
      *ngIf="
        dashboard.dashboardType === 'DIRECTION'
      "
      [dashboard]="dashboard">
    </app-direction-dashboard>

    <!-- RESPONSABLE PEDAGOGIQUE -->

    <app-pedagogical-dashboard
      *ngIf="
        dashboard.dashboardType ===
        'RESPONSABLE_FORMATION'
      "
      [dashboard]="dashboard">
    </app-pedagogical-dashboard>

    <!-- INSERTION -->

    <app-insertion-dashboard
      *ngIf="
        dashboard.dashboardType ===
        'INSERTION'
      "
      [dashboard]="dashboard">
    </app-insertion-dashboard>

    <!-- SECRETAIRE -->

    <app-secretary-dashboard
      *ngIf="
        dashboard.dashboardType ===
        'SECRETAIRE'
      "
      [dashboard]="dashboard">
    </app-secretary-dashboard>

    <!-- ENSEIGNANT -->

    <app-teacher-dashboard
      *ngIf="
        dashboard.dashboardType ===
        'TUTEUR'
      "
      [dashboard]="dashboard">
    </app-teacher-dashboard>

    <!-- ETUDIANT -->

    <app-student-dashboard
      *ngIf="
        dashboard.dashboardType ===
        'ETUDIANT'
      "
      [dashboard]="dashboard">
    </app-student-dashboard>

  </div>

</div>