<div class="sidebar">

  <!-- Logo -->
  <div class="sidebar-header">

    <div class="logo">

      <div class="logo-circle">
        U
      </div>

      <div>

        <h2>UNCHK</h2>

        <p>Management</p>

      </div>

    </div>

  </div>

  <!-- Menu -->
  <div class="menu">

    <a

      *ngFor="let item of menuItems"

      [routerLink]="item.route"

      routerLinkActive="active-link"

      [routerLinkActiveOptions]="{ exact: false }">

      <mat-icon>
        {{ item.icon }}
      </mat-icon>

      <span>
        {{ item.label }}
      </span>

    </a>

  </div>

  <!-- Utilisateur connecté -->
  <div class="sidebar-user">

    <div class="avatar">

      {{
        user?.fullName
          ? user.fullName.charAt(0).toUpperCase()
          : 'U'
      }}

    </div>

    <div>

      <h4>
        {{ user?.fullName || 'Utilisateur' }}
      </h4>

      <p>
        {{ user?.role || 'Invité' }}
      </p>

    </div>

  </div>

</div>

