<div class="sidebar">

  <!-- Logo -->
  <div class="sidebar-header">

    <div class="logo">

      <div class="logo-circle">
        U
      </div>

      <div>

        <h2>UCHK</h2>

        <p>Admin Panel</p>

      </div>

    </div>

  </div>

  <!-- Menu -->
  <div class="menu">

    <a
      routerLink="/dashboard"
      routerLinkActive="active-link">

      <mat-icon>
        dashboard
      </mat-icon>

      <span>
        Tableau de bord
      </span>

    </a>

    <a
      routerLink="/students"
      routerLinkActive="active-link">

      <mat-icon>
        school
      </mat-icon>

      <span>
        Étudiants
      </span>

    </a>

    <a
      routerLink="/trainers"
      routerLinkActive="active-link">

      <mat-icon>
        school
      </mat-icon>

      <span>
        Formateurs
      </span>

    </a>

    <a
      routerLink="/formations"
      routerLinkActive="active-link">

      <mat-icon>
        menu_book
      </mat-icon>

      <span>
        Formations
      </span>

    </a>

    <a
      routerLink="/users"
      routerLinkActive="active-link">

      <mat-icon>
        group
      </mat-icon>

      <span>
        Utilisateurs
      </span>

    </a>

    <a>

      <mat-icon>
        settings
      </mat-icon>

      <span>
        Paramètres
      </span>

    </a>

  </div>

  <!-- User -->
  <div class="sidebar-user">

    <div class="avatar">
      A
    </div>

    <div>

      <h4>{{ user?.fullName }}</h4>

      <p>{{ user?.role }}</p>

    </div>

  </div>

</div>