.dialog-container {

  width: 500px;

  padding: 10px;
}

/* Header */
.dialog-header {

  margin-bottom: 25px;
}

.dialog-header h2 {

  font-size: 26px;

  font-weight: 700;
}

.dialog-header p {

  color: #64748b;
}

/* Form */
form {

  display: flex;

  flex-direction: column;

  gap: 18px;
}

mat-form-field {

  width: 100%;
}

/* Actions */
.dialog-actions {

  display: flex;

  justify-content: flex-end;

  gap: 12px;

  margin-top: 20px;
}