.notification-modal {

  padding: 1rem;

  h2 {

    margin-bottom: .5rem;
  }

  .date {

    color: #777;

    font-size: .85rem;

    margin-bottom: 1rem;
  }

  .message {

    line-height: 1.6;
  }
}