/* Reset */
* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

/* Body */
body {

  font-family: 'Poppins', sans-serif;

  background: #f1f5f9;

  color: #0f172a;
}

/* Liens */
a {

  text-decoration: none;
}

/* Scrollbar moderne */
::-webkit-scrollbar {

  width: 8px;
}

::-webkit-scrollbar-thumb {

  background: #cbd5e1;

  border-radius: 10px;
}