<!-- ===================================
     KPI DOCUMENTS
=================================== -->

<div class="dashboard-grid">

  <div class="stat-card">

    <div class="icon blue">
      <mat-icon>description</mat-icon>
    </div>

    <div>
      <h2>{{ dashboard.totalDocuments }}</h2>
      <p>Total documents</p>
    </div>

  </div>

  <div class="stat-card">

    <div class="icon green">
      <mat-icon>mail</mat-icon>
    </div>

    <div>
      <h2>{{ dashboard.documentsByType[0]?.value || 0 }}</h2>
      <p>Courriers entrants</p>
    </div>

  </div>

  <div class="stat-card">

    <div class="icon orange">
      <mat-icon>send</mat-icon>
    </div>

    <div>
      <h2>{{ dashboard.documentsByType[1]?.value || 0 }}</h2>
      <p>Courriers sortants</p>
    </div>

  </div>

  <div class="stat-card">

    <div class="icon purple">
      <mat-icon>archive</mat-icon>
    </div>

    <div>
      <h2>
        {{ dashboard.documentsByStatus['ARCHIVED'] || 0 }}
      </h2>

      <p>Documents archivés</p>

    </div>

  </div>

</div>

<!-- ===================================
     ETAT DES DOCUMENTS
=================================== -->

<div class="stats-grid">

  <mat-card class="chart-card">

    <mat-card-header>

      <mat-card-title>

        Documents par statut

      </mat-card-title>

    </mat-card-header>

    <mat-card-content>

      <div
        class="stat-line"
        *ngFor="
          let item of dashboard.documentsByStatus
          | keyvalue
        ">

        <span>

          {{ item.key }}

        </span>

        <strong>

          {{ item.value }}

        </strong>

      </div>

    </mat-card-content>

  </mat-card>

  <mat-card class="chart-card">

    <mat-card-header>

      <mat-card-title>

        Documents par type

      </mat-card-title>

    </mat-card-header>

    <mat-card-content>

      <div
        class="stat-line"
        *ngFor="
          let item of dashboard.documentsByType
        ">

        <span>

          {{ item.label }}

        </span>

        <strong>

          {{ item.value }}

        </strong>

      </div>

    </mat-card-content>

  </mat-card>

</div>