<div class="topbar">

  <!-- Left -->
  <div class="topbar-left">

    <h2>
      Tableau de bord
    </h2>

  </div>

  <!-- Right -->
  <div class="topbar-right">

    <!-- Search -->
    <div class="search-box">

      <mat-icon>
        search
      </mat-icon>

      <input
        type="text"
        placeholder="Rechercher...">

    </div>

    <!-- Notifications -->
    <button mat-icon-button>

      <mat-icon>
        notifications
      </mat-icon>

    </button>

    <!-- Logout -->
    <button
      mat-icon-button
      (click)="logout()">

      <mat-icon>
        logout
      </mat-icon>

    </button>

  </div>

</div>